<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Crawler</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container mt-5">
<h1 class="mb-4">Web Crawler</h1>

<form method="POST">
    <div class="form-group">
        <label for="url">URL:</label>
        <input type="url" class="form-control" id="url" name="url" required>
    </div>

    <div class="form-group">
        <label for="depth">Depth:</label>
        <input type="number" class="form-control" id="depth" name="depth" min="1" required>
    </div>

    <button type="submit" class="btn btn-primary">Crawl</button>
</form>

{% if links %}
    <div class="mt-5">
        <h2>Links:</h2>
        <ul>
            {% for link in links %}
                <li><a target="_blank" href="{{ link }}">{{ link }}</a></li>
            {% endfor %}
        </ul>
    </div>

{% endif %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
